<?xml version="1.0"?>
<connectionStrings>
	<add name="appEntities"
	     connectionString="Data Source=10.100.102.3;Initial Catalog=ES-SAMPLE;User ID=sa;Password=Temp2020;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
	     providerName="System.Data.SqlClient" />
</connectionStrings>