<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ngcs.ElasticSearch.Data.AdoDotNet.Context.Properties.Settings.ngcs_sampleConnectionString"
            connectionString="Data Source=DESKTOP2\SQLEXPRESS;Initial Catalog=ngcs-sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>